name: Health Check

on:
#  schedule:
#    - cron: "40 * * * *"
  workflow_run:
    workflows: ["Deployment pipeline"]
    types:
      - completed
    branches:
      - main

  push:
    branches:
      - main
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize ]

jobs:
  check_health:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success '}}
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
          url: https://full-stack-open-pokedex-qjbj.onrender.com/health